Flask==0.10.1
Flask-Login==0.2.9
Flask-Stormpath==0.2.8
Flask-Testing==0.4.2
Flask-WTF==0.10.2
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.1
Werkzeug==0.9.6
facebook-sdk==0.4.0
gunicorn==19.1.1
httplib2==0.9
itsdangerous==0.24
oauth2client==1.2
python-openid==2.2.5
redis==2.10.3
requests==2.4.1
six==1.8.0
stormpath==1.2.4
