body {
	background-color: #FDF3E7;
}

.error{
	font-weight: bold;
}

.banner {
	text-align:center;
	margin-top: 20px;
}

.orange {
	background-color:#f68c31;
}

.orange li a {
	color:#fff !important;
}
.orange li a:hover {
	background-color:#F9BC59 !important
}

.orange .active a{
	background-color:#F9BC59 !important;
}

.landing-page-tile {
	border-style: solid;
    border-width: medium;
    border-color: #f68c31;
	
}

.message_table{
	height: 125px !important;
    overflow: scroll;	
}

