	
	body {
		background-color: #FDF3E7;
		padding-bottom: 70px;


	}

	.error{
		font-weight: bold;
	}

	.banner {
		text-align:center;
		margin-top: 20px;
	}

	.green {
		background-color:#4DB847;

	}

	.green li a {
		color:#000 !important;
		font-weight: bold;
		
	}
	.green li a:hover {

		background-color:#C7E916 !important;
		font-weight: 900;


	}

	.green .active a{
		background-color:#C7E916 !important;
		font-weight: 900;
		
	}

	.landing-page-tile {
		border-style: solid;
	    border-width: medium;
	    border-color: #009966;
	    box-shadow: 10px 10px 5px #888;
	}

	.message_table{
		height: 125px !important;
	    overflow: scroll;	
	}

	a{
		color:#fff;
	}
	.send_form{
		background-color:  #C7E916;
		border-style: solid;
	    border-width: medium;
	    border-color: #009966;
	    box-shadow: 10px 10px 5px #888;	
	}

	.jumbotron{
		text-align: center;
		background-color: #C7E916;
	}

	img {
    	border-radius: 10px 10px 10px 10px;

	}

	.photos a {
		font-family: "Times New Roman";
		text-decoration: underline;
		font-weight: bold;
		font-size: 17px;
		color: #4DB847;
	}

	.photos p{
		font-family: "Times New Roman";
		font-size: 17px;
		color: #4DB847;
	}
	.image{
		text-align: center;
	}
	