{% extends "layout.html" %}
{% set active_page = "index" %}
{% block body %}

{% if user.is_authenticated() %}
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="jumbotron landing-page-tile">
            <h2>Contacts </h2>
            {% for contact in contacts %}
                <div>{{contact}}</div>
                <br>
            {% endfor %}
            </div>
        </div>

        <div class ="col-md-6">

            <div class="jumbotron landing-page-tile">

              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Recent Messages: From {{user.username}} </div>
                    <div class="panel-body">
                        <form action="{{ url_for('clearhistory') }}" method=post class="form" role="form">
                            <button id="submit_button" type=submit value=Send class="btn btn-default ">Clear History</button>
                        </form>
                    </div>

                <!-- Table -->
                <div class=message_table>
                <table class="table">
                    <tr>
                        <th>Number</th>
                        <th>Message</th>
                    </tr>
                    {% for message in messages %}
                    <tr>   
                        <td>{{message.split()[0]}} </td>
                        <td>{{message.split(' ',1)[1]}} </td> 
                    </tr>
                    {% endfor %}
                </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="jumbotron">
          <h1>Welcome to Text Them!</h1>
          <p>Do you want to send text messages to your friends and family?</p>
          <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register Here</a></p>
        </div>
 
</div>

<div class="photos">
    <div class="image">
        <a href="https://www.flickr.com/photos/melinamanfrinatti/" target="_blank"> <img src="static/Cell_phone.png" alt="Phone Texting"  id="Cell_phone"> </a>
        <p> Image Taken By: <a href="https://www.flickr.com/photos/melinamanfrinatti/" target="_blank"> Melina Sampaio Manfrinatti</a> </p>
    </div>
</div>
{% endif %}

<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>
{% endblock %}
