{% set navigation_bar = [
(url_for('send_text'), 'send', 'Send Text'),
(url_for('aboutUs'), 'aboutus', 'About Us'),
(url_for('login'), 'login', 'Login'),
(url_for('logout'), 'logout', 'Logout'),
(url_for('manage'), 'manage', 'Manage Contacts')
] -%}
<!doctype html>
<title>Text Them</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
<a href="https://github.com/DevMoore94/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
	<div>
		<div class="banner">
			<a href="/"><img src="static/logo.png" alt="logo" align="middle" /></a>
		</div>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid green">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

					</button>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav ">
						{% for href, id, caption in navigation_bar %}
						{% if
						(user.is_authenticated() and (id != "login")) or
						(not user.is_authenticated() and id != "logout" and id != "manage") %}
						<li class="{% if id == active_page %}active{% endif %}"><a href="{{ href }}">{{ caption }}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</nav>

		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  			<div class="container-fluid green">
   			
   			<strong> Hosted by: </strong> <a href="http://www.heroku.com">Heroku</a> <br>
   			<br>
  			</div>
		</nav>

        {% block body %}
        {% endblock %}

	</div>
</body>



