{% extends "layout.html" %}
{% set active_page = "manage" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
            <H3>Add contacts to your phonebook {{user.username}}: </H3><br>

            <form action="{{ url_for('manage') }}" method=post class="form" role="form">
              <div class="form-group">
                <label for="InputNumber">Enter name of contact:</label>
                <input class="form-control" type=text id="InputName" name="contact_name">
              </div>
              <div class="form-group">
                <label for="InputMessage">Enter contact number:</label>
                <input class="form-control" type=text id="InputNumber" name="contact_number" >
              </div>
              <button type=submit id="addContactbtn" value=Send class="btn btn-default ">Submit</button>

              </form>
            </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='disable_manage_button.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='GoogleAnalytics.js') }}"></script>
{% endblock %}