{% extends "layout.html" %}
{% block body %}
<div class=page>
	<h2> Generate a random adjective and noun to send a friend </H2>
	<div class=metanav>

		<form action="{{ url_for('randomgenerator') }}" method=post class=form>

			<dt>Enter number for text:
			<dd><input type=text name=number >
			<dt>The Adjective
			<dd><input type=text name=adjective value = {{adjective}} >
			<dt>The Noun
			<dd><input type=text name=noun value = {{noun}}>
			<dd><dd><input type=button onClick=history.go(0) value = Random class="myButton"> <input type=submit value = Send class="myButton">
			<dt> {% if error %} <p class=error><strong>Error:</strong> {{ error }}{% endif %}

		</form>
	</div>
</div>
{% endblock %}
