{% extends "layout.html" %}
{% set active_page = "send" %}
{% block body %}
<div class="container">
    <div class = "row">
        <div class = "col-md-3"></div>
            <div class = "col-md-6 send_form">
                <h2> Send a Text </h2>
                <form action="{{ url_for('send_text') }}" method=post class="form" role="form">
                    <div class="form-group">
                        <label for="InputNumber">Enter number for text:</label>
                        <input class="form-control " type=text id="InputNumber" name="number" placeholder="e.g. 1-XXX-XXX-XXXX">
                    </div>
                    <div class="form-group">
                        <label for="InputMessage">Enter message for text:</label>
                        <input class="form-control" type=text id="InputMessage" name="message">
                    </div>
                    <button id="submit_button" type=submit value=Send class="btn btn-default disabled">Submit</button>
                    <button id="random_button" type=button onclick="getRandom()" class="btn btn-default">Random</button>
                    <button id="rick_button" type=button onclick="getRickRoll()" class="btn btn-default">Rick Roll</button>
                    <button id="geo_button" type=button onclick="getLocation()" class="btn btn-default">Geo</button>
                    {% if user.is_authenticated() %}
                    <button type="button" id="Phonebook_Button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">PhoneBook</button>
                  {% endif %}
                    <div class="error">{% if error %}<strong>Error:</strong> {{ error }}{% endif %}</div>
                  <div class="checkbox">
                    {% if user.is_authenticated() %}
                      <label>
                      <input type="checkbox" id="Anonymous_checkbox" name="Anonymous_checkbox"> Do not Track
                      </label>
                    {% endif %}
                    </div>
                </form>
            </div>
        <div class = "col-md-3"></div>
    </div>
</div>
<!-- Large modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="phonebookModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
        </span><span class="sr-only">Close</span></button>  
        <h4 class="modal-title">Contacts</h4> 
      </div>
      <div class="modal-body">
        <form id="contactForm" method="post" role='form'>
          <div class="radio">
            {% for contact in contacts %}
            <label>  <input type="radio" id="Contact" name="person" value="{{contact}}"/> {{contact}} </label>
            <br>
          {% endfor %}
        </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Select</button>
        
        
      </div>
      </form> 
    </div>
  </div>
 </div>
</div>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='text-them-lib.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='disable_button.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='phonebook_modal.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='GoogleAnalytics.js') }}"></script>
{% endblock %}